.img-class{
    margin-left: 70px;
    height: 200px;
    width: 300px;
}
p{
    font-size: larger;
    font-weight: 600;
}
.std{
    margin-left: 30px;
}
.std1{
    margin-left: 30px;
}
.std2{
    margin-left: 40px;
}
